* {
    color: orange;
}

.calculator {
    width: 200px;
    margin: 0 auto;
    background-color: rgba(50, 50, 50, 0.1);;
}

#screen {
    border: 1px solid #d8d8d8;
    height: 20px;
    border-top: 1px solid #808080;
    margin-bottom: 5px;
}

button {
    border: none;
    outline: none;
}

button:hover {
    border: 2px solid orange;
}

.buttons > button {
    width: 23%;
    height: 40px;
    background-color: black;
}
