* {
    color: white;
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
}

body {
    max-width: 600px;
    margin: 0 auto;
    background: #F1F2B5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F1F2B5 , #135058); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F1F2B5 , #135058); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator {
    width: 100%;
    margin: 0 auto;
}

#screen {
    border-bottom: 1px solid #135058;
    height: 100px;
    margin: 50px 0 5px 0;
}

button {
    border: none;
    outline: none;
}

button:hover {
    border: 2px solid #21717c;
}

.buttons > button {
    width: 23%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.0);
}

.buttons > button:last-child {
    width: 46%;
}
